name: TrustShield Compliance Scan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: # Isse aap manual bhi scan start kar sakte hain

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Run Compliance Scanner
      run: |
        python scanner.py

    - name: Upload Scan Results
      uses: actions/upload-artifact@v3
      with:
        name: compliance-report
        path: scan_results.json # Ye file scanner.py generate karega
        
